<div class="row">
    <div class="col-md-3">
      <span class="text-above">{{this.stats.characterTraits.Name}}</span>
      <span class="text-below">Character Name</span>
    </div>
    <div class="col-md-3">
      <span class="text-above">{{this.stats.characterTraits.Player}}</span>
      <span class="text-below">Player Name</span>
    </div>
    <div class="col-md-6">
      <span class="text-above">{{this.stats.getClassAndLevel()}}</span>
      <span class="text-below">Class and Level</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <span class="text-above">{{this.stats.characterTraits.ECL}}</span>
      <span class="text-below">ECL</span>
    </div>
    <div class="col-md-2">
      <span class="text-above">{{this.stats.characterTraits.Race}}</span>
      <span class="text-below">Race/Template</span>
    </div>
    <div class="col-md-1">
      <span class="text-above">{{this.stats.characterTraits.Size}}</span>
      <span class="text-below">Size</span>
    </div>
    <div class="col-md-1">
      <span class="text-above">{{this.stats.characterTraits.Gender}}</span>
      <span class="text-below">Gender</span>
    </div>
    <div class="col-md-1">
      <span class="text-above">{{this.stats.characterTraits.Alignment}}</span>
      <span class="text-below">Alignment</span>
    </div>
    <div class="col-md-2">
      <span class="text-above">{{this.stats.characterTraits.Religion}}</span>
      <span class="text-below">Religion</span>
    </div>
    <div class="col-md-1">
      <span class="text-above"p>{{this.stats.characterTraits.Height}}</span>
      <span class="text-below">Height</span>
    </div>
    <div class="col-md-1">
      <span class="text-above"p>{{this.stats.characterTraits.Weight}}</span>
      <span class="text-below">Weight</span>
    </div>
    <div class="col-md-2">
      <span class="text-above">{{this.stats.characterTraits.Looks}}</span>
      <span class="text-below">Looks</span>
    </div>
  </div>