<div class="row">
    <div class="col-md-3">
      <p></p>
      <span class="text-below">Character Name</span>
    </div>
    <div class="col-md-3">
      <p></p>
      <span class="text-below">Player Name</span>
    </div>
    <div class="col-md-3">
      <p></p>
      <span class="text-below">Class and Level</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <p></p>
      <span class="text-below">ECL</span>
    </div>
    <div class="col-md-2">
      <p></p>
      <span class="text-below">Race/Template</span>
    </div>
    <div class="col-md-1">
      <p></p>
      <span class="text-below">Size</span>
    </div>
    <div class="col-md-1">
      <p></p>
      <span class="text-below">Gender</span>
    </div>
    <div class="col-md-1">
      <p></p>
      <span class="text-below">Alignment</span>
    </div>
    <div class="col-md-2">
      <p></p>
      <span class="text-below">Religion</span>
    </div>
    <div class="col-md-1">
      <p></p>
      <span class="text-below">Height</span>
    </div>
    <div class="col-md-1">
      <p></p>
      <span class="text-below">Weight</span>
    </div>
    <div class="col-md-2">
      <p></p>
      <span class="text-below">Looks</span>
    </div>
  </div>