<h5>Attack Options</h5>
<div class="combat-options">
    <div *ngFor="let weaponName of equipment.weaponKeys" class="weapon row odd first">
        <div class="weapon-name col-md-8">
            <span class="underline-above">{{weaponName}}</span>
            <span class="text-below">WEAPON</span>
        </div>
        <div class="weapon-attack-bonus col-md-4">
            <span class="underline-above">{{calculateWeaponToHit(weaponName)}}</span>
            <span class="text-below">ATTACK BONUS</span>
        </div>
        <div class="weapon-damage col-md-3">
            <span class="underline-above">{{calculateWeaponDamage(weaponName)}}</span>
            <span class="text-below">DAMAGE</span>
        </div>
        <div class="weapon-critical col-md-3">
            <span class="underline-above">{{equipment.weapons[weaponName]["Crit Range"]}}</span>
            <span class="text-below">CRITICAL</span>
        </div>
        <div class="weapon-type col-md-3">
            <span class="underline-above">{{equipment.weapons[weaponName]["Type"]}}</span>
            <span class="text-below">TYPE</span>
        </div>
        <div class="weapon-range col-md-3">
            <span class="underline-above">{{equipment.weapons[weaponName]["Range Increment"]}}</span>
            <span class="text-below">RANGE</span>
        </div>
        <div class="weapon-notes col-md-6">
            <input class="input-above" value="{{getNotesAndAmmo(weaponName)}}" />
            <span class="text-below">NOTES/AMMUNITION</span>
        </div>
        <div class="weapon-attack col-md-4 offset-md-1">
            <button class="btn btn-outline-dark attack-button" (click)="open(attack, weaponName)">ATTACK</button>
        </div>
    </div>
</div>
<ng-template #attack let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-attack">{{selectedWeapon}} Attack</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-check">
            <input class="form-check-input" id="flanking" type="checkbox" [checked]="flanking" (change)="flanking = !flanking">
            <label class="form-check-label" for="flanking">Flanking?</label>
        </div>
        <div class="form-group row">
            <label for="powerAttack" class="col-sm-2 col-form-label">Power Attack</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="powerAttack" [(ngModel)]="powerAttack" [max]="this.stats.getBAB()" min="0" (keyup)="this.powerAttackMinMax()">
            </div>
        </div>
        <!--<button type="button" class="btn btn-dark" (click)="rollAttacks(selectedWeapon)">Roll Attack</button>-->
        <div class="row">
            <div class="col-md-2">
                Attack Rolls:
            </div>
            <div class="col-md-4">
                {{calculateWeaponToHit(selectedWeapon)}}
            </div>
            <div class="col-md-2">
                Damage Roll:
            </div>
            <div class="col-md-4">
                {{calculateWeaponDamage(selectedWeapon)}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p>This is the modal footer</p>
    </div>
</ng-template>