<div class="container">
  <app-character-header-details class="d-block"></app-character-header-details>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <app-character-attribute-details class="col-md-6"></app-character-attribute-details>
        <app-character-attack-details class="col-md-6"></app-character-attack-details>
      </div>
      <div class="row">
        <app-character-combat-statistics class="col-md-12"></app-character-combat-statistics>
      </div>
      <div class="row">
        <app-character-save-details class="col-md-12"></app-character-save-details>
      </div>
      <div class="row">
        <app-character-armour-class class="col-md-12"></app-character-armour-class>
      </div>
    </div>
    <div class="col-md-2">
      <app-character-hit-point-details></app-character-hit-point-details>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <app-character-skill-details></app-character-skill-details>
    </div>
    <div class="col-md-5">
      <div class="row">
        <app-character-racial-trait-details></app-character-racial-trait-details>
      </div>
      <div class="row">
        <app-character-class-feature-details></app-character-class-feature-details>
      </div>
      <div class="row">
        <app-character-feat-details></app-character-feat-details>
      </div>
      <div class="row">
        <app-character-language-details></app-character-language-details>
      </div>
    </div>
  </div>
</div>
