<div class="container">
  <app-character-header-details></app-character-header-details>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <app-character-attribute-details></app-character-attribute-details>
        <div class="combat-options">

        </div>
      </div>
      <div class="row">
        <app-character-speed-init-grapple-details></app-character-speed-init-grapple-details>
      </div>
      <div class="row">
        <app-character-save-details></app-character-save-details>
      </div>
    </div>
    <div class="col-md-2">
      <div class="hit-points"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-character-skill-details></app-character-skill-details>
    </div>
  </div>
</div>
