<div class="ability-scores">
  <div class="ability-score">
    <p>{{this.STR}}</p>
    <p>{{this.printStatBonus("STR")}}</p>
  </div>
  <div class="ability-score">
    <p>{{this.DEX}}</p>
    <p>{{this.printStatBonus("DEX")}}</p>
  </div>
  <div class="ability-score">
    <p>{{this.CON}}</p>
    <p>{{this.printStatBonus("CON")}}</p>
  </div>
  <div class="ability-score">
    <p>{{this.INT}}</p>
    <p>{{this.printStatBonus("INT")}}</p>
  </div>
  <div class="ability-score">
    <p>{{this.WIS}}</p>
    <p>{{this.printStatBonus("WIS")}}</p>
  </div>
  <div class="ability-score">
    <p>{{this.CHA}}</p>
    <p>{{this.printStatBonus("CHA")}}</p>
  </div>
</div>